<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoGo's Skate Park</title>
    <link rel="stylesheet" href="css/style.css" />
    <script async src="js/script.js"></script>
    <code><script src="https://unpkg.com/vue@3"></script></code>
  </head>
  <body>
    <!-- Navigation Banner, holds hyperlinks for site tabs and background photo -->
    <div class="banner">
      <nav class="nav">
        <div class="logo">
          <a href="index.html"><img class="logo" src="images/Art/logogo-txt-white.png"/></a>
        </div>
        <ul>
          <li v-for="(page, index) in pages" :key="index">
            <a
              class="navLinks"
              :class="{active: activePage == index}"
              :href="page.link.url"
              :title="'This link goes to the ${page.link.text} page'"
              @click="window.location.href = page.link.url"
              >{{page.link.text}}</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <!-- Page Title -->
    <div class="pageTitle">
      <header>GoGo's Skate Park</header>
    </div>

    <div class="content">
      <!-- Introduction -->
      <section>
        <h2>A place to GoGo to your dreams!</h2>
        <ul class="HoS">
          <li><strong>GoGo's Hours</strong></li>
          <li>Mondays - Fridays 9 a.m. to 7 p.m.</li>
          <li>Saturdays and Sundays 8 a.m. to 8 p.m.</li>
        </ul>
        <p>login blurb</p>
      </section>

      <!-- Gallery Blurb -->
      <section>
        <h1 class="sectionTitle">Gallery Photos</h1>
        <div class="imgScroll">
          <img v-for="(gallery, index) in gallery" :key="index" src= "{{gallery.image.path}}" />
        </div>
        <div class="sectionEnd">
          <hr class="solid" />
          <a href="gallery.html"><button class="buttons">View All</button></a>
        </div>
      </section>

      <!-- Events -->
      <section>
        <h1 class="sectionTitle">Events</h1>
        <div class="eventGrid">
          <!-- single item -->
          <div
            class="eventContainer"
            style="background-image: url(images/pexels-koprivakart-3315961.jpg)"
          >
            <div class="overlay">
              <div class="items"></div>
              <div class="items head">
                <p>Beginner Skateboarding Camp</p>
                <hr />
              </div>
              <div>
                <p class="desc">[EVENT DESCRIPTION]</p>
              </div>
            </div>
          </div>

          <!-- single item -->
          <div
            class="eventContainer"
            style="background-image: url(images/pexels-cottonbro-10131805.jpg)"
          >
            <div class="overlay">
              <div class="items"></div>
              <div class="items head">
                <p>Safe Wheels Workshop</p>
                <hr />
              </div>
              <div>
                <p class="desc">[EVENT DESCRIPTION]</p>
              </div>
            </div>
          </div>

          <!-- single item -->
          <div
            class="eventContainer"
            style="background-image: url(images/pexels-greg-melow-414051575-15026027.jpg)"
          >
            <div class="overlay">
              <div class="items"></div>
              <div class="items head">
                <p>Technique and Tricks Workshop</p>
                <hr />
              </div>
              <div>
                <p class="desc">[EVENT DESCRIPTION]</p>
              </div>
            </div>
          </div>

          <!-- single item -->
          <div
            class="eventContainer"
            style="background-image: url(images/pexels-felicity-tai-7951909.jpg)"
          >
            <div class="overlay">
              <div class="items"></div>
              <div class="items head">
                <p>Skate and Create: Art Meets Skating</p>
                <hr />
              </div>
              <div>
                <p class="desc">[EVENT DESCRIPTION]</p>
              </div>
            </div>
          </div>

          <!-- end of event cards -->
        </div>
        <div class="sectionEnd">
          <hr class="solid" />
          <a href="events.html"><button class="buttons">View All</button></a>
        </div>
      </section>

      <!-- Sponsors -->
       
      <section>
        <h1 class="sectionTitle">Our Sponsors</h1>
        
        <div class="eventGrid">
          <!-- single item -->
          <div class="eventContainer" style="background-image: url(images/Art/gogoxsol-poster.png)">
            <div class="overlay">
              <div class="items"></div>
              <div class="items head">
                <p>Sol Skating Technologies</p>
                <hr />
              </div>
              <div>
                <p class="desc">[EVENT DESCRIPTION]</p>
              </div>
            </div>
          </div>

          

          <!-- single item -->
          <div class="eventContainer" style="background-image: url(images/BonesBearings.png)">
            <div class="overlay">
              <div class="items"></div>
              <div class="items head">
                <p>Bones Bearings</p>
                <hr />
              </div>
              <div>
                <p class="desc">[EVENT DESCRIPTION]</p>
              </div>
            </div>
          </div>

          <!-- single item -->
          <div class="eventContainer" style="background-image: url(images/Orangatang.png)">
            <div class="overlay">
              <div class="items"></div>
              <div class="items head">
                <p>Orangatang</p>
                <hr />
              </div>
              <div>
                <p class="desc">[EVENT DESCRIPTION]</p>
              </div>
            </div>
          </div>

          <!-- single item -->
          <div class="eventContainer" style="background-image: url(images/DGK.png)">
            <div class="overlay">
              <div class="items"></div>
              <div class="items head">
                <p>DGK Skating Essentials</p>
                <hr />
              </div>
              <div>
                <p class="desc">[EVENT DESCRIPTION]</p>
              </div>
            </div>
          </div>

          <!-- end of sponsor cards -->
        </div>

        <div class="sectionEnd">
          <hr class="solid" />
          <a href="sponsors.html"><button class="buttons">Learn More</button></a>
        </div>
      </section>
    </div>
    <footer>
      <div class="logo">
        <a href="index.html"><img class="logo" src="images/Art/logogo-txt-white.png"/></a>
      </div>
      <p>Connect with Us!</p>
    </footer>
  </body>
</html>
