<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoGo's Skate Park</title>
    <link rel="stylesheet" href="css/style.css" />
    <code><script src="https://unpkg.com/vue@3"></script></code>
  </head>
  <body>
    <!-- Navigation Banner, holds hyperlinks for site tabs and background photo -->
    <div class="banner">
      <nav class="nav">
        <div class="logo">
          <a href="index.html"><img class="logo" src="images/Art/logogo-txt-white.png"/></a>
        </div>
        <ul>
          <li v-for="(page, index) in pages" :key="index">
            <a
              class="navLinks"
              :class="{active: activePage == index}"
              :href="page.link.url"
              :title="'This link goes to the ${page.link.text} page'"
              @click="window.location.href = page.link.url"
              >{{page.link.text}}</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <!-- Page Title -->
    <div class="pageTitle">
      <header>GoGo's Skate Park</header>
    </div>

    <div class="content">
      <!-- Introduction -->
      <section class="intro">
        <div class="infoCard" id="landing">
          <h2>A place to GoGo to your dreams!</h2>
          <p>
            Who are we? We're the best skate park you've ever seen. Packed with smart technologies and artistic freedom, 
            GoGo's skatepark takes skating to the next level. Classes are open to all skill levels and you don't 
            even need to own a board to start.
            Skating doesn't have to be scary or expensive.   
          </p>
          <img id="entrance-img" src="images/Art/entrance.png" alt="A drawing of a skateboarding bugbear with a teal hawaiian shirt and board shirts. Underneath reads 'GoGo's Skate Park '">
        </div>
        <div id="HoS">
          <ul>
            <li><strong>GoGo's Hours</strong></li>
            <hr/>
            <li>Mondays - Fridays:  9 a.m. to 7 p.m.</li>
            <li>Saturdays - Sundays: 8 a.m. to 8 p.m.</li>
            <li style="color: black;"><i>Hours subject to change due to weather!</i></li>
          </ul>
          <ul>
            <li><strong>Announcements</strong></li>
            <hr/>
            <li>Little One's Showcase next month!</li>
            <li>Special deals on GoGo helmets 12/10 - 12/20</li>
            <li>Summer camp counselor positions now open!</li>
            <li></li>
          </ul>
          <!-- VUE LOGIN??? -->
        </div>
      </section>

      <!-- Gallery Blurb -->
      <section>
        <h1 class="sectionTitle">Gallery Photos</h1>
        <div class="imgScroll">
          <img v-for="gallery in gallery" :src= gallery.image.path />
        </div>


        <div class="sectionEnd">
          <hr class="solid" />
          <a href="gallery.html"><button class="buttons">View All</button></a>
        </div>
      </section>

      <!-- Events -->
      <section>
        <h1 class="sectionTitle">Events</h1>
        <div class="eventGrid">
          <!-- single item -->
          <div
            class="eventContainer"
            style="background-image: url(images/pexels-koprivakart-3315961.jpg)"
          >
            <div class="overlay">
              <div class="items"></div>
              <div class="items head">
                <p>Beginner Skateboarding Camp</p>
                <hr />
              </div>
              <div>
                <p class="desc">GoGo's little one's offers indoor winter classes on the foundations and basics of skating.</p>
              </div>
            </div>
          </div>

          <!-- single item -->
          <div
            class="eventContainer"
            style="background-image: url(images/pexels-cottonbro-10131805.jpg)"
          >
            <div class="overlay">
              <div class="items"></div>
              <div class="items head">
                <p>Boardr Series Competition</p>
                <hr />
              </div>
              <div>
                <p class="desc">
                  All ages and skills skateboarding contest series that 
                  is designed to provide a fun and fulfilling skateboarding 
                  experience for all participants.</p>
              </div>
            </div>
          </div>

          <!-- single item -->
          <div
            class="eventContainer"
            style="background-image: url(images/pexels-greg-melow-414051575-15026027.jpg)"
          >
            <div class="overlay">
              <div class="items"></div>
              <div class="items head">
                <p>Technique and Tricks Workshop</p>
                <hr />
              </div>
              <div>
                <p class="desc">Learn tips and tricks from GoGo's own award winning skaters!</p>
              </div>
            </div>
          </div>
          <!-- single item -->
          <div
            class="eventContainer"
            style="background-image: url(images/pexels-felicity-tai-7951909.jpg)"
          >
            <div class="overlay">
              <div class="items"></div>
              <div class="items head">
                <p>Skate and Create: Art Meets Skating</p>
                <hr />
              </div>
              <div>
                <p class="desc">Compete against grafitti artists for your chance to throw on our walls!</p>
              </div>
            </div>
          </div>

          <!-- end of event cards -->
        </div>
        <div class="sectionEnd">
          <hr class="solid" />
          <a href="events.html"><button class="buttons">View All</button></a>
        </div>
      </section>

      <!-- Sponsors -->
       
      <section>
        <h1 class="sectionTitle">Our Sponsors</h1>
        
        <div class="eventGrid">
          <!-- single item -->
          <div class="eventContainer" style="background-image: url(images/Art/gogoxsol-poster.png)">
            <div class="overlay">
              <div class="items"></div>
              <div class="items head">
                <p>Sol Skate Technologies</p>
                <hr />
              </div>
              <div>
                <p class="desc">[EVENT DESCRIPTION]</p>
              </div>
            </div>
          </div>

          <!-- single item -->
          <div class="eventContainer" style="background-image: url(images/BonesBearings.png)">
            <div class="overlay">
              <div class="items"></div>
              <div class="items head">
                <p>Bones Bearings</p>
                <hr />
              </div>
              <div>
                <p class="desc">[EVENT DESCRIPTION]</p>
              </div>
            </div>
          </div>

          <!-- single item -->
          <div class="eventContainer" style="background-image: url(images/Orangatang.png)">
            <div class="overlay">
              <div class="items"></div>
              <div class="items head">
                <p>Orangatang</p>
                <hr />
              </div>
              <div>
                <p class="desc">[EVENT DESCRIPTION]</p>
              </div>
            </div>
          </div>

          <!-- single item -->
          <div class="eventContainer" style="background-image: url(images/DGK.png)">
            <div class="overlay">
              <div class="items"></div>
              <div class="items head">
                <p>DGK Skating Essentials</p>
                <hr />
              </div>
              <div>
                <p class="desc">[EVENT DESCRIPTION]</p>
              </div>
            </div>
          </div>

          <!-- end of sponsor cards -->
        </div>

        <div class="sectionEnd">
          <hr class="solid" />
          <a href="sponsors.html"><button class="buttons">Learn More</button></a>
        </div>
      </section>
    </div>
    <footer>
      <div class="content">
        <div class="logo">
          <a href="index.html"><img class="logo" src="images/Art/logogo-txt-white.png"/></a>
        </div>
        <p>Connect with Us!</p>
      </div>
    </footer>
  </body>

<script>
  
let app = Vue.createApp({
  data() {
    return {
      activePage: 0,
      pages: [
        {
          link: { text: "Home", url: "index.html" }
        },
        {
          link: { text: "About", url: "about.html" }
        },
        {
          link: { text: "Events", url: "events.html" }
        },
        {
          link: { text: "Gallery", url: "gallery.html" }
        },
        {
          link: { text: "Partners", url: "sponsors.html" }
          
        },
      ],

      gallery:[
        {
          image: { path: "images/Art/aravil-apples.png", alt:" "}
        },
        {
          image: { path: "images/Art/GOGO GRAFFITI.png", alt:" "}
        },
        {
          image: { path: "images/Art/logogo-lineart.png", alt:" "}
        },
        {
          image: { path: "images/Art/gogolittleones.png", alt:" "}
        },
        {
          image: { path: "images/Art/gogoxsol-poster.png", alt:" "}
        },
        {
          image: { path: "images/Art/cehui-fish.png", alt:" "}
        },
        {
          image: { path: "images/Art/office.png ", alt:" "}
        },
        {
          image: { path: "images/Art/merchshop.png", alt:" "}
        },
        {
          image: { path: " images/Art/gogoslow.png", alt:" "}
        },
        {
          image: { path: "images/Art/entrance.png", alt:" "}
        },
        {
          image: { path: "images/Art/safety.png", alt:" "}
        },
        {
          image: { path: "images/Art/visitorcenter.png", alt:" "}
        },
        {
          image: { path: "images/Art/winslow-icecream.png", alt:" "}
        },      
      ],

      events:[
        {
          card: { img: "images/pexels-koprivakart-3315961.jpg", head: "Beginner Skateboarding Camp", desc: "[EVENT DESCRIPTION]"}
        },
        {
          card: { img: "images/pexels-cottonbro-10131805.jpg", head: "", desc: "[EVENT DESCRIPTION]"}
        },
        {
          card: { img: "images/pexels-greg-melow-414051575-15026027.jpg", head: "", desc: "[EVENT DESCRIPTION]"}
        },
        {
          card: { img: "images/pexels-felicity-tai-7951909.jpg", head: "", desc: "[EVENT DESCRIPTION]"}
        },
        {
          card: { img: "images/Art/gogoxsol-poster.png", head: "", desc: "[EVENT DESCRIPTION]"}
        },
        {
          card: { img: "images/BonesBearings.png", head: "", desc: "[EVENT DESCRIPTION]"}
        },
        {
          card: { img: "images/Orangatang.png", head: "", desc: "[EVENT DESCRIPTION]"}
        },
        {
          card: { img: "images/Art/DGK.png", head: "DGK Skating Essentials", desc: "[EVENT DESCRIPTION]"}
        },        
      ],

    };
  },

});

  app.mount("body");
</script>
</html>


