<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <title>GoGo's Skate Park</title>
    <link rel="stylesheet" href="css/style.css" />
    <script async src="js/script.js"></script>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    </head>
  <body>
    <div class="banner"> 
      <!-- Navigation Banner, holds hyperlinks for site tabs -->
      <nav class="nav">
        <div class="logo">
          <a href="index.html"><img class="logo" src="images/Art/logogo-txt-white.png"/></a>
        </div>
        <ul>
          <li v-for="(page, index) in pages" :key="index">
            <a
              class="navLinks"
              :class="{active: activePage == index}"
              :href="page.link.url"
              :title="'This link goes to the ${page.link.text} page'"
              @click="window.location.href = page.link.url"
              >{{page.link.text}}</a
            >
          </li>
        </ul>
      </nav>
    </div>
    
    <div class="pageTitle"> 
      <!-- Page Title -->
      <header>The GoGo Family</header>
    </div>

    <section class="content"> 
     <div class="infoCard">
      <h2>Our Sponsors:</h2>
      <p>GoGo's Skate Park wouldn't be what it is today without our 
        wonderful partners. They'll be listed below along with what 
        they do at GoGo's</p>
     </div>

     <div v-for="sponsors in sponsors" class="sponsor-card">
      <img :src= sponsors.img alt="">
      <div class="sponsor-title">
        <h2>{{sponsors.name}}</h2>
        <p>{{sponsors.desc}}</p>
      </div>
      <hr>
     </div>

    </section>
    <footer>
      <p>Connect with Us!</p>
    </footer>
  </body>
  <script>
  
    let app = Vue.createApp({
      data() {
        return {
          activePage: 0,
          sponsors:[
            {
              name: "Blick Art Materials", img:"images/Blick.png", desc:"Blick is a team full of friendly and welcoming artists knowledgeable in all areas of art supplies. They proudly work with local artists and arts organizations across the country, and support a variety of national events as well as local community events." 
            },
            {
              name: "Sol Skate Tech", img:"images/solskate.png", desc:"Sol Skate is a miami based skate tech company, leading the charge for free skateboards nationwide." 
            },
            {
              name: "Orangatang", img:"images/Orangatang.png", desc:"Orangatang Wheels was hatched in 2008 as a means of advocating for the civil liberties of the indigenous river capybaras of Southern California. They also gained international praise in 2009 for their brief and completely unrelated foray into exotic animal jerky manufacturing and wholesale." 
            },
            {
              name: "Bones Bearings", img:"images/BonesBearings.png", desc:"Bones Swiss Skateboard Bearings have the best reputation in the skateboard industry and have had this honor since 1981, due to their performance and quality. Everyone who rides Swiss knows how fast they are and how long they last." 
            },
            {
              name: "DGK", img:"images/DGK.png", desc:" Dirty Ghetto Kids (DGK) is a skateboard brand founded by Stevie Williams and Troy Morgan in 2009. It features skateboarders such as Josh Kalis, Rodrigo Teixeira, and Fabian Alomar, and produces skateboards and apparel. " 
            },
          ],
          pages: [
            {
              link: { text: "Home", url: "index.html" }
            },
            {
              link: { text: "About", url: "about.html" }
            },
            {
              link: { text: "Events", url: "events.html" }
            },
            {
              link: { text: "Gallery", url: "gallery.html" }
            },
            {
              link: { text: "Partners", url: "sponsors.html" }
              
            },
          ],

        };
      },
    
    });
    
      app.mount("body");
    </script>
    
</html>
